* {
  margin:0;
  box-sizing: border-box;
}
.content {	padding: 0px 15px 0px 15px;}


/*MENU*/
/* #nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: rgba(0,0,0,0.5);
	padding: 30px;
	z-index: 3;

	position: fixed;
    top: 0;
    width: 100%;
}

li {
	float: left;
}

li a {
	color: white;
	text-align: center;
	text-decoration: none;
	padding: 50px;

	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
} */


/*HOME*/
#home {
	height: 50vh;
	background-image: url(../bilder/fotiwaerch-77.jpg);
	background-size: cover;
	background-position: center;
	margin-bottom: 50px;
}

#logo {
	display: block;
  width: 30%;
}


/*GENERALS*/
h2 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	margin-bottom: 10px;
}

p {
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
}

h3 {
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
}

a {
	text-decoration: none;
	color: #C71B78;
}

a:hover {
	font-weight: 400;
}


span {
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	font-size: 0.8em;
	/*momentan mal weglassen*/
	display:none;
}

/*UEBER*/
.block { margin-bottom: 50px;}


.block.image1, .block.image2 {
	width: 100%;
	height: 500px;
	background-size: cover;
	background-position: center;
}
.image1 { background-image: url(../bilder/fotiwaerch-82.jpg);}
.image2 {	background-image: url(../bilder/fotiwaerch-95.jpg);}



/*KONTAKT*/
#kontakt {
 border-top: solid 1px #C71B78;
	padding: 40px 20px 40px 30px;
	display: flex;
	justify-content: center;
	flex-direction: column;
}



/*MEDIA QUERIES*/

/*kleine geräte*/
@media only screen and (min-width: 980px) {
	.content {	padding: 0px 30px 0px 30px;}
	.block.image1, .block.image2 { height: 400px;}
}

/*phone*/
	@media only screen and (min-width: 375px) {
	}


/*grosse geräte, beschrieb ist 2-spaltig*/
	@media only screen and (min-width: 1023px) {
		#uebersgy > .block {
			width: 48%;
		}

#uebersgy {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

		#specialimg { order: 1;	}
		.content { padding: 0px 80px 0px 80px; }
}
